name: Deploy Supabase Edge Functions

on:
  push:
    branches:
      - main 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # هذا هو السطر الصحيح لتثبيت CLI
      - name: Install Supabase CLI
        uses: supabase/setup-cli@v1 
        with:
          supabase-access-token: ${{ secrets.SUPABASE_ACCESS_TOKEN }}

      - name: Deploy Edge Functions
        run: |
          supabase functions deploy my-function-name --project-ref <omawqpezsdubqpxgrptc>
